.red { background: #6b0000; }
.green { background: #005300 ; }
.blue { background: #080052; }
.yellow { background: #c2c200; }
.block { display: block; width: 200px; height: 200px; }
.inline { display: inline; padding: 30px; }